<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.routine.mapper.DeptMapper">
  <resultMap id="BaseResultMap" type="com.wechat.routine.pojo.Dept">
    <id column="id" property="id"/>
    <result column="num" property="num"/>
    <result column="pid" property="pid"/>
    <result column="pids" property="pids"/>
    <result column="simplename" property="simplename"/>
    <result column="fullname" property="fullname"/>
    <result column="tips" property="tips"/>
    <result column="version" property="version"/>
  </resultMap>
  <sql id="Base_Column_List">
    id,num,pid, pids,simplename,fullname,tips,version
  </sql>
  <select id="listByIdDepts" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> * from sys_dept
                 where id = #{id}
  </select>
  <select id="listByFullNameDept" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from sys_dept where fullname like concat('%',#{fullName},'%','管理','%')
  </select>


</mapper>