<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.routine.mapper.RoutineMaintainerMapper">
  <resultMap id="BaseResultMap" type="com.wechat.routine.pojo.RoutineMaintainer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="maintainer_name" jdbcType="VARCHAR" property="maintainerName" />
    <result column="maintainer_phone" jdbcType="INTEGER" property="maintainerPhone" />
    <result column="maintainer_account" jdbcType="VARCHAR" property="maintainerAccount" />
    <result column="maintainer_pwd" jdbcType="VARCHAR" property="maintainerPwd" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, maintainer_name, maintainer_phone, maintainer_account, maintainer_pwd
  </sql>
  <select id="selectByExample" parameterType="com.wechat.routine.pojo.RoutineMaintainerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from routine_maintainer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from routine_maintainer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from routine_maintainer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wechat.routine.pojo.RoutineMaintainerExample">
    delete from routine_maintainer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wechat.routine.pojo.RoutineMaintainer">
    insert into routine_maintainer (id, maintainer_name, maintainer_phone, 
      maintainer_account, maintainer_pwd)
    values (#{id,jdbcType=INTEGER}, #{maintainerName,jdbcType=VARCHAR}, #{maintainerPhone,jdbcType=INTEGER}, 
      #{maintainerAccount,jdbcType=VARCHAR}, #{maintainerPwd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wechat.routine.pojo.RoutineMaintainer">
    insert into routine_maintainer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="maintainerName != null">
        maintainer_name,
      </if>
      <if test="maintainerPhone != null">
        maintainer_phone,
      </if>
      <if test="maintainerAccount != null">
        maintainer_account,
      </if>
      <if test="maintainerPwd != null">
        maintainer_pwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="maintainerName != null">
        #{maintainerName,jdbcType=VARCHAR},
      </if>
      <if test="maintainerPhone != null">
        #{maintainerPhone,jdbcType=INTEGER},
      </if>
      <if test="maintainerAccount != null">
        #{maintainerAccount,jdbcType=VARCHAR},
      </if>
      <if test="maintainerPwd != null">
        #{maintainerPwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wechat.routine.pojo.RoutineMaintainerExample" resultType="java.lang.Long">
    select count(*) from routine_maintainer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update routine_maintainer
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=INTEGER},
      </if>
      <if test="row.maintainerName != null">
        maintainer_name = #{row.maintainerName,jdbcType=VARCHAR},
      </if>
      <if test="row.maintainerPhone != null">
        maintainer_phone = #{row.maintainerPhone,jdbcType=INTEGER},
      </if>
      <if test="row.maintainerAccount != null">
        maintainer_account = #{row.maintainerAccount,jdbcType=VARCHAR},
      </if>
      <if test="row.maintainerPwd != null">
        maintainer_pwd = #{row.maintainerPwd,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update routine_maintainer
    set id = #{row.id,jdbcType=INTEGER},
      maintainer_name = #{row.maintainerName,jdbcType=VARCHAR},
      maintainer_phone = #{row.maintainerPhone,jdbcType=INTEGER},
      maintainer_account = #{row.maintainerAccount,jdbcType=VARCHAR},
      maintainer_pwd = #{row.maintainerPwd,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wechat.routine.pojo.RoutineMaintainer">
    update routine_maintainer
    <set>
      <if test="maintainerName != null">
        maintainer_name = #{maintainerName,jdbcType=VARCHAR},
      </if>
      <if test="maintainerPhone != null">
        maintainer_phone = #{maintainerPhone,jdbcType=INTEGER},
      </if>
      <if test="maintainerAccount != null">
        maintainer_account = #{maintainerAccount,jdbcType=VARCHAR},
      </if>
      <if test="maintainerPwd != null">
        maintainer_pwd = #{maintainerPwd,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wechat.routine.pojo.RoutineMaintainer">
    update routine_maintainer
    set maintainer_name = #{maintainerName,jdbcType=VARCHAR},
      maintainer_phone = #{maintainerPhone,jdbcType=INTEGER},
      maintainer_account = #{maintainerAccount,jdbcType=VARCHAR},
      maintainer_pwd = #{maintainerPwd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.wechat.routine.pojo.RoutineMaintainerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from routine_maintainer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>