<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.routine.mapper.RoutineFaultWorkMapper">
  <resultMap id="BaseResultMap" type="com.wechat.routine.pojo.RoutineFaultWork">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="work_id" jdbcType="VARCHAR" property="workId"/>
    <result column="user_unit" jdbcType="VARCHAR" property="userUnit" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_gender" jdbcType="INTEGER" property="userGender" />
    <result column="user_phone" jdbcType="BIGINT" property="userPhone" />
    <result column="fault_info" jdbcType="VARCHAR" property="faultInfo" />
    <result column="fault_img" jdbcType="VARCHAR" property="faultImg" />
    <result column="work_time" jdbcType="TIMESTAMP" property="workTime" />
    <result column="fault_address" jdbcType="VARCHAR" property="faultAddress" />
    <result column="fault_detail_address" jdbcType="VARCHAR" property="faultDetailAddress" />
    <result column="question_info" jdbcType="VARCHAR" property="questionInfo"/>
    <result column="solve_img" jdbcType="VARCHAR" property="solveImg" />
      <result column="old_maintainer_id" jdbcType="INTEGER" property="oldMaintainerId"/>
    <result column="maintainer_id" jdbcType="INTEGER" property="maintainerId" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="door" jdbcType="VARCHAR" property="door" />
    <result column="punch" jdbcType="VARCHAR" property="punch" />
    <result column="work_deal_with_status" jdbcType="INTEGER" property="workDealWithStatus" />
    <result column="work_state" jdbcType="INTEGER" property="workState" />
    <result column="work_score" jdbcType="INTEGER" property="workScore"/>
    <result column="work_confirm" jdbcType="INTEGER" property="workConfirm"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="dispatch_time" jdbcType="TIMESTAMP" property="dispatchTime" />
      <result column="admin_id" jdbcType="INTEGER" property="adminId"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, work_id, user_unit,user_name,user_gender,user_phone, fault_info, fault_img, work_time, fault_address, fault_detail_address, question_info,
    solve_img, old_maintainer_id, maintainer_id, remarks, door, punch, work_deal_with_status, work_state, work_score, work_confirm, create_time, modify_time,dispatch_time,admin_id
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from routine_fault_work
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.wechat.routine.pojo.RoutineFaultWork">
    insert into routine_fault_work (work_id, user_unit,user_name,user_gender,user_phone, fault_info, fault_img, work_time, fault_address, fault_detail_address, question_info,
    solve_img, maintainer_id, remarks, door, punch )
    values (#{workId,jdbcType=VARCHAR},#{userUnit,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},#{userGender,jdbcType=VARCHAR},#{userPhone,jdbcType=BIGINT},#{faultInfo,jdbcType=VARCHAR},
      #{faultImg,jdbcType=VARCHAR}, #{workTime,jdbcType=TIMESTAMP}, #{faultAddress,jdbcType=VARCHAR},
      #{faultDetailAddress,jdbcType=VARCHAR},#{questionInfo,jdbcType=VARCHAR}, #{solveImg,jdbcType=VARCHAR}, #{maintainerId,jdbcType=INTEGER},
      #{remarks,jdbcType=VARCHAR}, #{door,jdbcType=VARCHAR}, #{punch,jdbcType=VARCHAR})
    <selectKey resultType="java.lang.Long" keyProperty="id">
        SELECT LAST_INSERT_ID() AS id
    </selectKey>
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.wechat.routine.pojo.RoutineFaultWork">
    update routine_fault_work
    set user_unit = #{userUnit,jdbcType=VARCHAR},
        user_name = #{userName,jdbcType=VARCHAR},
        user_gender = #{userGender,jdbcType=VARCHAR},
        user_phone = #{userPhone,jdbcType=BIGINT},
      fault_info = #{faultInfo,jdbcType=VARCHAR},
      fault_img = #{faultImg,jdbcType=VARCHAR},
      work_time = #{workTime,jdbcType=TIMESTAMP},
      fault_address = #{faultAddress,jdbcType=VARCHAR},
      fault_detail_address = #{faultDetailAddress,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateWorkSateByPrimaryKey" parameterType="com.wechat.routine.pojo.RoutineFaultWork">
    update routine_fault_work
    set user_unit = #{userUnit,jdbcType=VARCHAR},
        user_name = #{userName,jdbcType=VARCHAR},
        user_gender = #{userGender,jdbcType=VARCHAR},
        user_phone = #{userPhone,jdbcType=BIGINT},
        fault_info = #{faultInfo,jdbcType=VARCHAR},
        fault_img = #{faultImg,jdbcType=VARCHAR},
        work_time = #{workTime,jdbcType=TIMESTAMP},
        fault_address = #{faultAddress,jdbcType=VARCHAR},
        fault_detail_address = #{faultDetailAddress,jdbcType=VARCHAR},
        remarks = #{remarks,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateConFirmWork" parameterType="com.wechat.routine.pojo.RoutineFaultWork">
    update routine_fault_work set work_confirm = 1 where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateById" parameterType="com.wechat.routine.pojo.RoutineFaultWork">
    update routine_fault_work set
                                user_unit = #{userUnit,jdbcType=VARCHAR},
                                user_name = #{userName,jdbcType=VARCHAR},
                                user_gender = #{userGender,jdbcType=VARCHAR},
                                user_phone = #{userPhone,jdbcType=BIGINT},
                                fault_info = #{faultInfo,jdbcType=VARCHAR},
                                fault_img = #{faultImg,jdbcType=VARCHAR},
                                work_time = #{workTime,jdbcType=TIMESTAMP},
                                fault_address = #{faultAddress,jdbcType=VARCHAR},
                                fault_detail_address = #{faultDetailAddress,jdbcType=VARCHAR},
                                remarks = #{remarks,jdbcType=VARCHAR},
                                question_info= #{questionInfo,jdbcType=VARCHAR},
                                solve_img= #{solveImg,jdbcType=VARCHAR},
                                old_maintainer_id = #{oldMaintainerId,jdbcType=INTEGER},
                                maintainer_id= #{maintainerId,jdbcType=INTEGER},
                                remarks= #{remarks,jdbcType=VARCHAR},
                                door= #{door,jdbcType=INTEGER},
                                punch= #{punch,jdbcType=VARCHAR},
                                work_confirm = #{workConfirm,jdbcType=INTEGER},
                                work_deal_with_status= #{workDealWithStatus,jdbcType=INTEGER},
                                work_state= #{workState,jdbcType=INTEGER},
                                work_score= #{workScore,jdbcType=INTEGER}
                                where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPunch" parameterType="com.wechat.routine.pojo.RoutineFaultWork">
        update routine_fault_work set
                                      punch= #{punch,jdbcType=VARCHAR},
                                      work_confirm = #{workConfirm,jdbcType=INTEGER}
                                      where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByScoreState" parameterType="java.lang.String">
        update routine_fault_work set work_score= 1
        where work_id = #{workId,jdbcType=VARCHAR}
    </update>

    <select id="selectByUserPhone" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from routine_fault_work
    where user_phone = #{userPhone,jdbcType=BIGINT}
    order by create_time Desc LIMIT  1
  </select>
  <select id="selectAllByWorkStateAndId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
      select
      <include refid="Base_Column_List" />
      from routine_fault_work
      where work_state = #{workState,javaType=INTEGER} and maintainer_id = #{id,jdbcType=INTEGER}
        order by create_time Desc
    </select>
  <select id="selectByWorkId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from routine_fault_work
    where 1=1
    <if test="workId!=null">
        and work_id = #{workId,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectCount" resultType="java.lang.Integer">
    select count(*)  from routine_fault_work
  </select>
  <select id="selectAllByWorkConfirmAndId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from routine_fault_work

    <if test="workConfirm!=null">
        where work_confirm = #{workConfirm,jdbcType=INTEGER}
    </if>
    <if test="id!=null">
      and maintainer_id = #{id,jdbcType=INTEGER}
    </if>
    order by create_time DESC
  </select>
    <select id="selectAllByWorkStateAndOldId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from routine_fault_work
        <if test="id!=null">
            where old_maintainer_id = #{id,jdbcType=INTEGER}
        </if>
        order by create_time DESC
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
            from routine_fault_work
        where maintainer_id!="" and work_confirm = 0
        order by create_time DESC
    </select>
</mapper>