<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.routine.mapper.RoutineMaintainerMapper">
  <resultMap id="BaseResultMap" type="com.wechat.routine.pojo.RoutineMaintainer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="leader_ids" jdbcType="VARCHAR" property="leaderIds"/>
    <result column="maintainer_name" jdbcType="VARCHAR" property="maintainerName" />
    <result column="maintainer_phone" jdbcType="BIGINT" property="maintainerPhone" />
    <result column="maintainer_account" jdbcType="VARCHAR" property="maintainerAccount" />
    <result column="maintainer_pwd" jdbcType="VARCHAR" property="maintainerPwd" />
    <result column="token" jdbcType="VARCHAR" property="token"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, leader_ids ,maintainer_name, maintainer_phone, maintainer_account, maintainer_pwd,token
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from routine_maintainer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from routine_maintainer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wechat.routine.pojo.RoutineMaintainer">
    insert into routine_maintainer (id, maintainer_name, maintainer_phone, 
      maintainer_account, maintainer_pwd,token)
    values (#{id,jdbcType=INTEGER}, #{maintainerName,jdbcType=VARCHAR}, #{maintainerPhone,jdbcType=BIGINT},
      #{maintainerAccount,jdbcType=VARCHAR}, #{maintainerPwd,jdbcType=VARCHAR},#{token,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wechat.routine.pojo.RoutineMaintainer">
    update routine_maintainer
    set maintainer_name = #{maintainerName,jdbcType=VARCHAR},
      maintainer_phone = #{maintainerPhone,jdbcType=INTEGER},
      maintainer_account = #{maintainerAccount,jdbcType=VARCHAR},
      maintainer_pwd = #{maintainerPwd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
        from routine_maintainer
  </select>
</mapper>