<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.routine.mapper.RoutineScoreMapper">
  <resultMap id="BaseResultMap" type="com.wechat.routine.pojo.RoutineScore">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="work_id" jdbcType="INTEGER" property="workId" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName"/>
    <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
    <result column="total_score" jdbcType="INTEGER" property="totalScore" />
    <result column="timely_score" jdbcType="INTEGER" property="timelyScore" />
    <result column="professional_score" jdbcType="INTEGER" property="professionalScore" />
  </resultMap>
  <sql id="Base_Column_List">
    id,user_id,work_id,unit_name,remarks, total_score,timely_score,professional_score
  </sql>
  <insert id="insertRoutineScore">
    insert into
        routine_score(user_id,work_id,unit_name,remarks,total_score,timely_score,professional_score)
    values
        (#{userId,jdbcType=INTEGER},#{workId,jdbcType=INTEGER},#{unitName,jdbcType=VARCHAR},
         #{remarks,jdbcType=VARCHAR}, #{totalScore,jdbcType=INTEGER},
        #{timelyScore,jdbcType=INTEGER},#{professionalScore,jdbcType=INTEGER})
  </insert>

</mapper>