<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.routine.mapper.RoutineMessageMapper">
    <resultMap id="BaseResultMap" type="com.wechat.routine.pojo.RoutineMessage">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="user_type" jdbcType="INTEGER" property="userType" />
        <result column="messages" jdbcType="VARCHAR" property="messages" />
        <result column="create_time" jdbcType="VARCHAR" property="createTime" />
        <result column="modify_time" jdbcType="VARCHAR" property="modifyTime" />
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, user_type, messages,create_time,modify_time
    </sql>
</mapper>