<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.routine.mapper.RoutineUserMapper">
  <resultMap id="BaseResultMap" type="com.wechat.routine.pojo.RoutineUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_gender" jdbcType="VARCHAR" property="userGender" />
    <result column="user_phone" jdbcType="BIGINT" property="userPhone" />
    <result column="user_unit" jdbcType="VARCHAR" property="userUnit" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="token" jdbcType="VARCHAR" property="token"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, user_gender, user_phone, user_unit, create_time, modify_time,token
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from routine_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from routine_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wechat.routine.pojo.RoutineUser" useGeneratedKeys="true" keyProperty="id">
    insert into routine_user (user_name, user_gender,
      user_phone, user_unit, token)
    values  (#{userName,jdbcType=VARCHAR}, #{userGender,jdbcType=VARCHAR},
      #{userPhone,jdbcType=BIGINT}, #{userUnit,jdbcType=VARCHAR},#{token,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wechat.routine.pojo.RoutineUser">
    insert into routine_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userGender != null">
        user_gender,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="userUnit != null">
        user_unit,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userGender != null">
        #{userGender,jdbcType=SMALLINT},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=INTEGER},
      </if>
      <if test="userUnit != null">
        #{userUnit,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wechat.routine.pojo.RoutineUser">
    update routine_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userGender != null">
        user_gender = #{userGender,jdbcType=SMALLINT},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=BIGINT},
      </if>
      <if test="userUnit != null">
        user_unit = #{userUnit,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wechat.routine.pojo.RoutineUser">
    update routine_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_gender = #{userGender,jdbcType=SMALLINT},
      user_phone = #{userPhone,jdbcType=BIGINT},
      user_unit = #{userUnit,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByUserPhoneRoutineUser" parameterType="com.wechat.routine.pojo.RoutineUser" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from routine_user
    where user_phone = #{userPhone,jdbcType=VARCHAR}
  </select>
  <select id="selectByUserPhone" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from routine_user
    where user_phone = #{userPhone,jdbcType=VARCHAR}
  </select>
</mapper>